/* css */
body{
font-family: 'Roboto Mono';
}

#title{
  background-color: #ff4c68;
  color:white;
}

.container-fluid{
  padding: 3% 15% ;
}
h1{
  font-family: "Montserrat";


  line-height: 1.5;
  font-size: 3.5rem;

}
h2{
  font-family: "Montserrat";
  font-size:2rem;
}
h3{
  font-family: Ubuntu;
  font-weight: bolder;
}
p{
  color:#696969;
}


/* navigation bar */
.navbar-brand{
  font-family: Ubuntu;
  font-size:2.5rem;
  font-weight: bold;
}

.navbar{
  padding: 0 0 4.5rem;

}
.nav-item{
  padding:0px 18px;
}
.nav-link{
  font-size:1.2rem;
}

/*download button*/
.Download-button{
  margin:5% 3% 5% 0 ;
}

/*title img*/
.img-container{

  
}

.title-img{
  
  transform: rotate(25deg);
  width:60%;
 



}


/*features*/
#features{

  padding:7% 15%;
  background-color: white;
 

}
.feature-box{
  text-align:center;
  padding:5%;
}
.feature-icon{
  color: #f37121;
  margin-bottom:1rem;
}
.feature-icon:hover{
  color:#ff4c68;
}
/*testimonials*/
#testimonials{
  
  text-align:center;
  background-color: #f37121;
  color:white;
}
.testimonial-image{
  width:10%;
  border-radius: 100%; 
  margin:20px;
}
.carousel-item{
    padding:7% 15%;
}
/*press*/
#press{
  background-color: #f37121;
  text-align:center;
  padding-bottom:3%;
}
.press-logo{
  width:12%;
  margin:20px 20px 50px;
}

/*pricing section*/
#pricing{
  padding:100px;
  text-align:center;

}
.pricing-column{
  padding:3% 2%;
}
